<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>大搜车开放平台 OAuth2 示例项目</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>测试地址</h1>
        <ul style="list-style-position: inside;">
            <li>
                <a
                        th:href="${host} + '/oauth2/authorize?appKey=' + ${appKey} + '&response_type=code&scope=user_ding_org_auth&state=STATE&redirect_uri=http%3A%2F%2F127.0.0.1%3A' + ${port}"
                        th:text="'链接1：测试环境 = ' + ${host} + '，回跳地址为本地 = http://127.0.0.1:' + ${port}"></a>
            </li>
        </ul>
    </div>
</body>
</html>